img{
   
        height: 400px;
        width: 400%;
        padding: 0.50rem;
        display: absolute;
        background-color: black;
    }

h1{
    text-align: center;
    color:coral;
    padding: 4rem;
    font-size: 2em;

}


p {
    font-size: 20px;
    text-align: center;
}
